
.centered {
    position: absolute;
    color:white;
    font-family: 'Roboto';
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-weight: 100;
    transform: translate(-50%, -50%);
  }
  
  .below {
    position: absolute;
    color:white;
    top: 65%;
    left: 52%;
    font-size: 20px;
    width: 52%;
    transform: translate(-50%, -50%);
  }

  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
  }

  .about h4{
    font-family: "Roboto";
    font-weight: 600 !important;
    font-size: 25px;
  }

  .about div{
    width: 50%;
    margin-left: 40px;
    padding: 1%;
    font-size: 15px;
    font-family:'Open Sans',sans-serif;
    font-weight:'light';
    color:grey;
  }
  
  .Things{
    margin: 8% 4% 0% 4%;
    background-color: #faf9f5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:4rem;
  }
  .Things div{
    padding:3%;
  }

  .explore{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin: 8% 4% 0% 4%;
 
  }
  .explore img{
    transition: width 1s;
  }
.explore img:hover{
  width: 400;
}
  .explore:hover{
    cursor: pointer;
  }
  .Explore-info{
    position: relative;
    bottom: 49%;
    background-color: white;
    width: 14rem;
    padding: 12%;
    transition: width 1s;
  }
  .Explore-info h5{
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
  }
  .Explore-info:hover{
  cursor: pointer;
    width: 15rem;
  }
  .Explore-info div{
    font-family: sans-serif;
    color: gray;
    font-size: 13px;
  }

.partners{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.partners img{
  filter: brightness(0%);
  transition: height width 2s;
}
.partners img:hover{
  cursor: pointer;
  height: 102px;
  width: 202px;
}

.video{
  margin-left: 22%;
  margin-top: 8%;
}

.img-gradient {
  display:inline-block;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); 
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
}

.img-gradient img{
  position:relative;
  z-index:-1;
  display:block;
}

@media only screen and  (min-width: 320px) and (max-width: 426px){
.img-gradient img{
  height: 280px;
}
.centered {
  top: 25%;
  left: 50%;
  font-size: 30px;
  font-weight: 100;
  transform: translate(-50%, -50%);
}

.below {
  top: 35%;
  font-size: 12px;
  width: 80%;
  height: 50px;
  transform: translate(-50%, -50%);
}

.about{
  margin-top: 15%;
}
.about h4{
  font-size: 20px;
}

.about div{
  width: 80%;
  font-size: 12px;
  margin-right: 48px;
}
.video{
  margin-left: 5%;
  margin-top: 0%;
}
  .video video{
    width: 300px;
    height: 200px;
  }
  .partners{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: auto;
  }
  .partners img{
    height: 80px;
    width: 150px;
  }
  .end{
    margin-left: 50%;
  }
  
  .Things{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:1rem;
  }
  .explore{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
  }
  .explore img{
    width: 290px;
  }
.explore img:hover{
  width: 300;
}
  .Explore-info{
    width: 290px;
    padding:  8%;
  }
  .Explore-info h5{
    font-size: 22px;
  }
  .Explore-info div{
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
  }
}

@media only screen and  (min-width: 375px) and (max-width: 426px){
  .video{
    margin-left: 6%;
  }
  .video video{
    width: 340px;
    height: 300px;
  }
  .explore{
    margin-left: 8%;
  }
  .explore img{
    width: 320px;
  }
.explore img:hover{
  width: 330;
}
.partners{
  margin-left: 5%;
}
}

@media only screen and  (min-width: 425px) and (max-width: 426px){
  .video{
    margin-left: 8%;
  }
  .video video{
    width: 370px;
  }
  .explore{
    margin-left: 7%;
  }
  .explore img{
    width: 370px;
  }
.explore img:hover{
  width: 375px;
}
.partners{
  margin-left: 5%;
}
}