
.containerAmenities  {
    font-family:  "Open Sans",sans-serif;
    color: #000;
    font-size: 30px; 
    line-height: 1.069767441860465em;
    font-weight: 500;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
}
p{
    font-family: 'sans-serif';
    font-size: 12px;
    line-height: 1.58824em;
    font-weight: 300;
    color: #4d4d4d;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    max-width: 78%;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    vertical-align: baseline;
}


.containerAmenities p{
    margin: 20px 0px;
    line-height: 2em;
} 
.middle {
    margin-top: 2%;
    width: 70%;
    margin-left: 15%;
    font-family: "Roboto";
}
.middle a{
    height: auto;
    /* position: absolute; */
    text-align: center;
    font-size: 16px;
    color: grey;
}
.middle e{
    height: auto;
    /* position: absolute; */
    text-align: center;
    font-size: 16px;
    color: grey;
}
.middle c{
    height: auto;
    /* position: absolute; */
    text-align: center;
    margin-top: 350px;
    font-size: 16px;
    color: grey;
}
.fa-solid fa-router{
    width: 100px;
    height: 100px;
    /* position:absolute ; */
}
.container2 button{
    border: none;
    padding: 3%;
    background-color: #fff;
    cursor: pointer ;
    /* width: 50px; */
}
.container1 {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title1{
    padding-left: 35%;
    padding-top:5%;
}

 .title4 ,.title6{
    padding-left: 30%;
    padding-top:5%;
}

.title3 {
    padding-left: 20%; 
    padding-top:5%;
}

.title5{
    padding-left: 15%;
    padding-top:5%;
}

@media only screen and (min-width: 320px) and (max-width: 426px){
    .containerAmenities{
        margin-left: 2%;
        font-size: 20px; 
        text-align: center;
    } 
.container1 {
    margin-left: 15%;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
grid-template-rows: auto;
}
.container1 img{
    height: 40px;
    width: 40px;
}
   .middle{
       margin-top: 0%;
       padding: 2%;
   }

    .middle a{
        margin-top: 5%;
        font-size: 12px;
        /* background-color: antiquewhite; */
    }
    .middle e{
        
        font-size: 12px;
        
    }.middle c{
        font-size: 12px;
    }
    .title1{
        padding: 0% 0% 0% 5%;  
    }
    .title2{
        padding: 0% 0% 0% 0%;  
    }
    .title3{
        padding: 0% 0% 0% 4%;  
    }
    .title4{
        padding: 0% 0% 0% 4%;  
    }
    .title5{
        padding: 0% 0% 0% 0%;  
    }
    .title6{
        padding: 0% 0% 0% 4%;  
    }
    .t{
        display: flex;
    }
    
}

@media only screen and (min-width: 375px) and (max-width: 426px){
    .containerAmenities{
        margin-left: 0%;
        font-size: 21px;
    } 
  }
  @media only screen and (min-width: 425px) and (max-width: 426px){
    .containerAmenities{
        margin-left: 0px;
        font-size: 20px;
    }
    .container1 {
        margin-left: 20%;
   }

}





