.cards{
    margin-top:5%;
    padding: 2%;
    display: grid;
    grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
}

.card{
    display: grid;
    
    transition: box-shadow .3s;
}


.card-title,.card-subtitle{
  text-align: center;
}

.card-title{
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.card-subtitle{
  margin-top: 2px;
  font-size: 13px;
  color: gray;
}
.card-text{
  font-family: "Open Sans",sans-serif;
  margin-top: 25px;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card-text div{
  color: gray;
  text-align: center;
}

.card img{
  height: 191px;
  width: 286px;
}
.card-text div h5{
  font-size: 17px;
  font-weight: bold;
}
.dim,.people{
  border-right: 1px inset;
  border-right-color: gray;
  padding-right: 15px;
}
.cards-wrapper {
    margin-left: 0%;
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 4rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    padding-bottom: 1rem;
    padding-right: var(--page-margin);
}

.angle button{
  height: 35px;
  width: 35px;
  margin-left: 2%;
  background-color: #fff9e5;
  border: none;
  border-radius: 50%;
  color: black;
}

#left-slide{
  margin-left: 34rem;
}
.angle i:hover{
  cursor: pointer;
}

.cards-wrapper::-webkit-scrollbar {
    display: none;
  }

.card:hover{
  cursor: pointer;
  box-shadow: 0 0 25px rgba(33,33,33,.2); 
}
.rooms-redirect{
  width: 100px;
  margin:10px 0px 0px 550px;
}
.rooms-redirect a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700 !important;
  font-family: "Open Sans",sans-serif;
}
.rooms-redirect a:hover{
  color: #b56953;
}
.room-det{
 background-color: #fffdd0;
}
@media only screen and  (min-width: 320px) and (max-width: 426px){
  .cards{
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
    flex-direction: column;
  }
  .cards-wrapper{
    gap: 2rem;
  }
  .card img{
    height: 191px;
    width: 283px;
  }
  .card-text{
    font-size: 12px;
    display: grid;
    gap: 1rem;
  }
  .card-subtitle{
    font-size: 10px;
  }
  .card-title{
    font-size: 12px;
  }
  .card-text div h5{
    font-size: 12px;
    font-weight: bold;
  }
  .angle button{
    height: 20px;
    width: 20px;
    margin-left: 3%;
  }
  .angle button i{
    height: 10px;
    width: 10px;
  }
  
  #left-slide{
    margin-left: 7rem;
  }

  .rooms-redirect{
    width: 100px;
    margin:10px 0px 0px 100px;
  }
  .rooms-redirect a{
    font-size: 14px;
  }

}

@media only screen and (min-width: 375px) and (max-width: 426px){
  .cards{
    margin-left: 6%;
  }
 .card{
   width: 20rem;
 }
}

@media only screen and (min-width: 425px) and (max-width: 426px){
  .cards{
    margin-left: 10%;
  }
}
