.cards{
    margin-top:8%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
}

.card{
    display: grid;
    
    transition: box-shadow .3s;
}


.card-title,.card-subtitle{
  text-align: center;
}

.card-title{
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.card-subtitle{
  margin-top: 2px;
  font-size: 13px;
  color: gray;
}
.card-text{
 
  margin-top: 25px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card-text div{
  color: gray;
  text-align: center;
}

.card img{
  height: 191px;
  width: 286px;
}
.card-text div h5{
  font-size: 17px;
  font-weight: bold;
}
.dim,.people{
  border-right: 1px inset;
  border-right-color: gray;
  padding-right: 15px;
}
.cards-wrapper {
    margin-left: 0%;
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 4rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    padding-bottom: 1rem;
    padding-right: var(--page-margin);
}


#left-slide{
  margin-left: 48%;
}


.angle button{
  height: 40px;
  width: 40px;
  margin-left: 2%;
  background-color: #F0E6D7;
  border: none;
  border-radius: 50%;
  color: black;
}

#left-slide{
  margin-left: 45%;
}
.angle i:hover{
  cursor: pointer;
}

.cards-wrapper::-webkit-scrollbar {
    display: none;
  }

.card:hover{
  cursor: pointer;
  box-shadow: 0 0 25px rgba(33,33,33,.2); 
}

@media only screen and  (min-width: 320px) and (max-width: 426px){
  .cards{
    margin-left: 4%;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
  }
  .cards-wrapper{
    gap: 4rem;
  }

  .card{
    min-width: 18rem;
    height: 30rem;
  }

}

@media only screen and (min-width: 375px) and (max-width: 426px){
  .cards{
    margin-left: 6%;
  }
 .card{
   width: 20rem;
 }
}

@media only screen and (min-width: 425px) and (max-width: 426px){
  .cards{
    margin-left: 10%;
  }
}
