.cards{
    margin-top:5%;
    display: grid;
    grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
}

.card{
    display: grid;
    height: 30rem;
    min-width: 20rem;
    transition: box-shadow .3s;
}
.cards-wrapper {
    margin-left: 1%;
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 7rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    padding-right: var(--page-margin);


}

.angle i:hover{
  cursor: pointer;
}

.cards-wrapper::-webkit-scrollbar {
    display: none;
  }

.card:hover{
  box-shadow: 0 0 25px rgba(33,33,33,.2); 
}


@media only screen and (max-width: 768px){
  .cards{
    margin-top: 8%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
  }
  .cards-wrapper{
    gap: 3rem;
  }

}

@media only screen and (max-width: 480px){
  .cards{
    margin-top: 20%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
  }
  .cards-wrapper{
    gap: 3rem;
  }

}