.left-contact {
    margin-top: 10%;
    padding: 4%;
}

.right-contact {
    margin-top: 10%;
    background-color: #F0E6D7;
    padding: 3%;
}

.write{
    color: #000;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600 !important;
    word-wrap: break-word;
    font-family: 'Open Sans',sans-serif;
}

.read{
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: grey;
    line-height: 1.2em;
    font-weight: 500;
}
.right-contact label{
    font-family: "Open Sans",sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 200;
}
.right-contact input[type=text], input[type=url], textarea {
    width: 100%;
    vertical-align: top;
    font-family: inherit;
    font-size: 16px;
    line-height: 29px;
    font-weight: inherit;
    color: #4d4d4d;
    background-color: transparent;
    border: 1px solid gray;
    cursor: pointer;
}



.right-contact button {
    background-color: transparent;
    width: 122.41px;
    height: 40px;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
    border: 1px solid gray;
    color: #000;
    cursor: pointer;
}

.right-contact button:hover {
    color: #fff;
    transition: .8s;
    box-shadow: inset 200px 0 #b56953;
    border: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 426px){
.contact img{
    height: 250px;
}
iframe{
    width: 270px;
    height: 300px;
}
.write{
    font-size: 15px;
}
.read{
    font-size: 12px;
}
.right-contact label{
    font-size: 12px;
}
.right-contact button {
    font-size: 12px;
}

}

@media only screen and (min-width: 375px) and (max-width: 426px){
    .contact img{
        height: 250px;
    }
    iframe{
        width: 320px;
    }
    .write{
        font-size: 14px;
    }
    .right-contact label{
        font-size: 11px;
    }
    .right-contact button {
        font-size: 11px;
    }
    }
@media only screen and (min-width:425px) and (max-width:426px){
    iframe{
        width: 370px;
    }
}