
.footer_1{
    width: 100%;
    margin-top: 5%;
}

footer{
    width: 100%;
    background: #e9e7df;
    padding: 20px 100px;
}
.newsletter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 1px solid gray;
}
.newsletter >div{
    flex-basis: 38%;
}
.ntext{
    text-align: right;
}
.newsletter h2{
    font-size: 1.2em;
    font-family:  "Open Sans",sans-serif;
    font-weight: 600;
    color: black;
}
.f-contact h2{
  font-size: 1.2em;
  color: black;
}
.newsletter div{
    font-size: 16px;
    margin-top: 10px;
    background-color: #e9e7df;
    color: black;
}

.ntext label{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-gap:1rem;
}
.ntext input{
    width:100%;
    border-radius: 8px;
    padding: 5%;
    border: none;
    outline: none;
    font-family: sans-serif;
}

.newsletter button{
    padding: 10px;
    width: 100%;
    background: #e9e7df;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    border: solid 1px gray;
    font-family: Raleway,sans-serif;
}
.f-contact{
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e7df;
    margin-top: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.f-contact >div{
    flex-basis: 22%;
}
.f-contact p{
    line-height: 2em;
    font-family: 'Open Sans',sans-serif;
    background-color: #e9e7df;
    font-size: 14px;
    margin-left: 2px;
    color: gray;
    cursor: pointer;
}
.f-contact p:hover{
    color: black;
}
.f-contact i{
    background: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin: 20px 5px;
    border-radius: 50%;
    transition: 0.4s ease;
}
.f-contact i:hover{
    background: transparent;
    color: white;
    border: 1px solid black;
}

.last{
    width: 1160px;
    height: 1px;
    background-color: black;
    
}

.bottom{
    height: 50px;
    width: 100%;
    background-color: 	#e9e7df;
}

.bottom a{
    margin-left: 12px;
    margin-top:7px;
    color: black;
    background-color: #e9e7df;
}
.bottom i{
    margin-left: 520px;
    margin-top:9px;
    color: black;
    size: 100px;
}

.slide:hover{
    transition: 1.2s;
    box-shadow: inset 400px 0 0 0 #b56953;
}


.new{
    display: none;
}


@media only screen and (min-width: 320px) and (max-width: 426px){    
    .footer_1{
        display: none;
    }
    .bottom{
        height: 50px;
        width: 300px;
        background-color: #e9e7df;
    }
    .new{
        display: block;
        margin-top: 20px;
    }
    
  .new-newsletter{
    background-color:#e9e7df;
    height: 200px;
  }


  .new-newsletter div i{
    margin-left:130px;
    margin-top: 5%;
  }
  .new-newsletter div h2{
    font-size: 16px;
    margin-left:58px;
   font-weight: 600;
    font-family: 'Open Sans',sans-serif;
  }
  input[type="email"]{
    width: 210px;
  }
  input[type="email"]::placeholder { 
   
    text-align: center;
}
  .new-newsletter div input{
    background-color:#e9e7df;
    border: 1px solid black;
    margin-left:50px;
    padding: 2%;
  }
  
  .new-newsletter button{
    width: 210px;
    margin-top: 2%;
    margin-left: 50px;
      padding: 2% 4% 2% 4%;
      border:none;
      color: white;
      background-color: #b56953;
      font-size: 15px;
      word-spacing: 3px;
  }
  .new-newsletter button:hover{
    cursor: pointer;
    transition: 1s;
    box-shadow: inset 400px 0 0 0 black;
}
  .new-social i{
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 12px;
    margin: 20px 5px;
    border-radius: 50%;
    transition: 0.4s ease;
  }
  .new-social i:hover{
    background: transparent;
    color: black;
    border: 1px solid black;
  }
  .new-social h2{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5%;
    margin-left:35%;
  }
  .socialText{
    font-family: 'Open Sans',sans-serif;
   text-align: center;
    font-size: 14px;
  }
  .socialLinks{
    margin-left: 25%;
  }
  .bottom{
    height: 50px;
    width: 100%;
    background-color: 	#e9e7df;
   
  }
  
    .bottom a{
        margin-left: 3%;
        margin-top:7px;
        color: black;
        background-color: #e9e7df;
    }
    .bottom i{
        margin-top:7px;
        margin-left: 18%;
        color: black;
    }
    .last{
        width: 320px;
        height: 1px;
        
    }
}

@media only screen and (min-width: 375px) and (max-width: 426px){
    .new-newsletter div h2{
        margin-left:80px;
      }
    .new-newsletter div i{
        margin-left:170px;
      }
    .new-newsletter div input{
        margin-left:80px;
      }
      
      .new-newsletter button{
        margin-left: 80px;
      }
      .bottom a{
        margin-left: 10px;
        margin-top:10px;
    }
    .bottom i{
        margin-top:10px;
        margin-left: 80px;
    }
   .socialLinks{
     margin-left: 120px;
   }
   }
   @media only screen and (min-width: 425px) and (max-width: 426px){
    .new-newsletter div h2{
        margin-left:100px;
      }
    .new-newsletter div i{
        margin-left:180px;
      }
    .new-newsletter div input{
        margin-left:100px;
      }
      
      .new-newsletter button{
        margin-left: 100px;
      }
      .bottom a{
        font-size: 14px;
        margin-left: 12px;
        margin-top:10px;
    }
    .bottom i{
        margin-top:10px;
        margin-left: 110px;
    }
   }