*{
  padding: 0; margin: 0px; box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
} 

nav{
  width: 100%;
  height: 80px;
  /* height: 80px; */
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  position: fixed;
  top: 0;
  z-index: 1;
  /* border-bottom: 1px solid rgba(0,0,0,0.8); */
}


.logo{
  font-family: sans-serif;
  font-size: 35px;
}
.logo span{
  color: #e74c3c;
}
.dropdown a{
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 25px;
  
}
/* .dropdown a:first-child{
  color: #e74c3c;
} */
.dropdown a:hover{
  color: #e74c3c;
}
.icon a{ 
  text-decoration: none;
  background: #e74c3c;
  color: white;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 5px;
}
.menu-m-lines{
  display: none;
}


@media only screen and (max-width: 320px){
  nav{
    display: none;
  }
  .topnav {
    overflow: hidden;
   
    position: relative;
    color: black;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    /* color: white; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(104, 102, 102);
    display: block;
    opacity: .8;
  }
  
  
  .topnav a.icon {
    background: white;
    /* display: block; */
    position: absolute;
    right: 10px;
    height: 50px;
    top: 5px;
  }
  
  .topnav a:hover {
    background-color: rgb(143, 140, 140);
    /* color: black; */
    /* height: 50px; */
    /* width: 100px; */
  }
  
  .newnav{
    font-family: sans-serif;
    height: 60px;
    font-size: 34px;
    position: inherit;
    /* transition: height 4s; */
  }
  .newnav span{
    color: #e74c3c;
  }
}

@media only screen and (min-width:320px) {
.menu_icon{
  display: none;
}
}




