*{
    padding: 0; margin: 0; box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
} 
#hamburger{
    display: none;
}
nav{
    width: 100%;
    height: 110px;
    /* height: 80px; */
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: fixed;
    top: 0;
    z-index: 1;
    /* border-bottom: 1px solid rgba(0,0,0,0.8); */
}
.icon i{
    font-size: 20px;
    /* content: '\f002'; */
}
.icon i:hover{
    color: #e74c3c;
}

.logo{
    font-family: sans-serif;
    font-size: 2.4em;
}
.logo span{
    color: #e74c3c;
}
.dropdown a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 20px;
    
}
/* .dropdown a:first-child{
    color: #e74c3c;
} */
.dropdown a:hover{
    color: #e74c3c;
}

/* .icon i{
    font-size: 20px;
}
.icon i:hover{
    color: #e74c3c;
} */
.icon a{
    text-decoration: none;
    background: #c24a3c;
    color: white;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 5px;
}

.dropbtn {
    /* background-color: #04AA6D; */
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    min-height: 200px;
    margin-top: 4px;
    opacity: 0.9;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-size: 13px;
  }
  
  /* .dropdown-content a:hover {background-color: #ddd;} */
  .dropdown-content a:hover {background-color: none;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  .dropdown:hover .dropbtn {background-color: rgb(236, 204, 204);}

  @media only screen and (max-width: 480px){
      nav{
          display: none;
      }
    
  .topnav {
    overflow: hidden;
    /* background-color: #333; */
    /* background-color: #e74c3c; */
    position: relative;
    /* transition: height 4s; */
    color: black;
  }
  
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: black;
    /* color: white; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(104, 102, 102);
    display: block;
    opacity: .8;
  }
  
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 10px;
    height: 50px;
    top: 3px;
  }
  
  .topnav a:hover {
    background-color: rgb(143, 140, 140);
    /* color: black; */
    height: 50px;
    /* width: 100px; */
  }
  
  .active{
    font-family: sans-serif;
    font-size: 34px;
    position: inherit;
    /* transition: height 4s; */
  }
  .active span{
    color: #e74c3c;
  }
  }

  @media only screen and (max-width: 768px){
    nav{
      display: none;
    }
    
  .topnav {
    overflow: hidden;
    /* background-color: #333; */
    /* background-color: #e74c3c; */
    position: relative;
    color: black;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    /* color: white; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(104, 102, 102);
    display: block;
    opacity: .8;
  }
  
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 100px;
    height: 50px;
    top: 5px;
  }
  
  .topnav a:hover {
    background-color: rgb(143, 140, 140);
    /* color: black; */
    height: 50px;
    /* width: 100px; */
  }
  
  .active{
    font-family: sans-serif;
    font-size: 34px;
    position: inherit;
  }
  .active span{
    color: #e74c3c;
  }

  }