*{
  padding: 0; margin: 0px; box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
} 

nav{
  width: 100%;
  height: 80px;
  /* height: 80px; */
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  position: fixed;
  top: 0;
  z-index: 1;
  /* border-bottom: 1px solid rgba(0,0,0,0.8); */
}


.logo{
  font-family: sans-serif;
  font-size: 35px;
}
.logo span{
  color: #e74c3c;
}
.dropdown a{
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 20px;
  
}
/* .dropdown a:first-child{
  color: #e74c3c;
} */
.dropdown a:hover{
  color: #e74c3c;
}
.icon a{ 
  text-decoration: none;
  background: #e74c3c;
  color: white;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 5px;
}
.menu-m-lines{
  display: none;
}




@media only screen and  (min-width: 320px) and (max-width:426px){
  nav{
    display: none;
  }
  .topnav {
    overflow: hidden;
    z-index: 99999;
    position: relative;
    color: black;
  }
  .topnav a {
    color: black;
    /* color: white; */
    padding: 14px 16px;
    font-size: 15px;
    display: block;
    border: none;
    opacity: .8;
  }
  
  
  .topnav a.icon {
    /* display: block; */
    position: absolute;
    right: 10px;
    height: 40px;
    top: 3px;
  }
  
  #my-links {
    visibility: hidden;
    overflow: hidden;
    font-family: sans-serif;
    position: absolute;
    display: block;
      width:200px;
      height:30%;
      right: 15px;
      background-color:beige;
      transition:all 300ms linear;
      border: '1px solid grey';
      z-index: 999999;
    }
    #my-links a{
     
      text-decoration: none;
      
      color: black;
      display: flex;
      flex-direction: column;
      padding: 5%;
    }
    #my-links a:hover{
      color: #e74c3c;
    }
  #my-links.active {
    left:-200px;
  }
    
  
  .newnav{
    font-family: sans-serif;
    height: 60px;
    font-size: 34px;
    position: inherit;
    /* transition: height 4s; */
  }
  .newnav span{
    color: #e74c3c;
  }
}

@media only screen and (min-width:320px) and (max-width:426px) {
.menu_icon{
  display: none;
}
}







