.reviews{
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    padding: 0% 5% 0% 5% ;
}

.reviews div img{
    border-radius: 50%;
    margin-left: 33%;
}
@media only screen and (min-width: 320px) and (max-width: 426px){
    .reviews{
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    }
}


@media only screen and (min-width: 375px) and (max-width: 426px){
    .reviews{
        padding: 2%;
    }
   }



