.heading-rooms{
    background-color: #F0E6D7;
}
.data-room{
  background-color:white !important;
  border: 1px solid gainsboro;
  margin-top: 3%;
  width: 500px;
}
.heading-rooms h2{
    padding:10% 0% 5% 5%;
    font-family: "Roboto";
    font-size: 30px;
  font-weight: 600 !important;
}
.availability{
  text-align: center;
  font-size: 20px;
  padding: 10px 10px 0px 10px;
  font-weight: 600 !important;
  font-family:  Verdana, sans-serif;
}
.link-room  {
  background-color: #b56953;
  width: 150px;
  height: 28px;
  margin-top: 10px;
  font-family: 'Josefin',sans-serif;
  font-size: 14px;
  font-weight: 500 !important;
  text-transform: uppercase;
  border: 1px solid gray;
  cursor: pointer;
}

.link-room:hover {
  color: #fff;
  transition: .8s;
  box-shadow: inset 200px 0 #000;
  border: transparent;
}
.link-room a{
  font-size: 13px;
  text-decoration:none;
  color: white;
}
.room-grid-container label {

    font-family: Raleway,sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
    line-height: 1.6em;
    color: #000;
  }
.room-wrapper input[type="date" i]{
  position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 9.5px 17px;
    font-family: inherit;
    font-size: 17px;
    line-height: 29px;
    font-weight: inherit;
    color: #4d4d4d;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.18);
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .room-wrapper input[type="date" i]:hover {
    /* background: #e1e1e1; */
    border: 1px solid black;
    /* color: #faf9f5; */
  }
  .room-grid-5 button{
    /* position: relative; */
    /* display: inline-block; */
    width: 280px;
    vertical-align: top;
    /* margin: 0 0 25px; */
    padding: 9.5px 16px;
    /* font-family: inherit; */
    font-size: 17px;
    line-height: 29px;
    /* font-weight: inherit; */
    color: #4d4d4d;
    background-color:transparent; 
    border: 1px solid rgba(0,0,0,.18);
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    font-family: "Josefin Sans",sans-serif;
    font-size: 17px;
    margin-top: 15px;
    line-height: 1.58824em;
    font-weight: 300;
    /* left: 50px; */
  }

.room-grid-5 button:hover{
  cursor: pointer;
  transition: 1s;
  box-shadow: inset 400px 0 0 0 #b56953;
}
#Guests{
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0 0 30px;
  padding: 9.5px 16px;
  font-family: inherit;
  font-size: 17px;
  line-height: 29px;
  font-weight: inherit;
  color: #4d4d4d;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.18);
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
#Guests:hover {
  /* background: #e1e1e1; */
  border: 1px solid black;
  /* color: #faf9f5; */
}
  .room-wrapper #Cars{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;  
    margin: 0 0 20px;
    padding: 9.5px 16px;
    font-family: inherit;
    font-size: 15px;
    line-height: 29px;
    font-weight: inherit;
    color: #4d4d4d;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.18);
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .room-wrapper #Cars:hover {
    /* background: #e1e1e1; */
    border: 1px solid black;
    /* color: #faf9f5; */
  }

  .room-wrapper{
    margin-top: 5%;
    margin-left: 25%;
      height: 600px;
      width: 350px;
      background-color: #fdf5ea;
  }
  .room-grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    background-color: none;
    padding: 16px 34px;
  }
 

.room-price {
  position: relative;
  color:#b56953;
  background-color:wheat;
  width: 20%;
  height: 30px;
  font-family: 'Roboto';
  left: 10%;
  font-size: 16px;
  font-weight:bold;
  transform: translate(-50%, -140%);
  transition: width 1s;
}

.room-details{
  margin-bottom: 5%;
  padding: 5px 5px 5px 10px;
}
.room-dim{
  color: #b56953;
  font-size: 16px;
  font-family: "sans-serif";
}

.room-desc{
  color: grey;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  width: 480px;
}

.room-name{
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.data-room img{
  transition: width 1s;
}
.data-room img:hover{
width: 520px;
}
.data-room:hover{
  cursor: pointer;
}


.Lodge-rooms{
  display: flex;
  flex-direction: column;
height:600px;
overflow-y:scroll;
}

.Lodge-rooms::-webkit-scrollbar {
  display: none;
}



.first {
  width: 624px;
  height: 1200px;
  margin-left: 20px;
  margin-top: 30px;
  /* background-color: #e2d9d7; */
}
.room-name-single {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
.first c{
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
.first a {
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.58824em;
  font-weight: 300;
}
.first {
  color: #000;
  font-size: 25px;
  
  line-height: 1.2em;
  font-weight: 500;
}
.line {
  width: 620px;
  height: 1px;
  background-color: rgb(173, 173, 173);
}


.line-2 {
width: 620px;
height: 1px;
background-color: rgb(173, 173, 173);
}
.first d {
position: inherit;
top: 855px;
}
.first e {
 
top: -175px;
font-size: 17px;
line-height: 1.58824em;
font-weight: 300;
color: #4d4d4d;
}
.left{
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto ;
  gap: 1rem;
}
.left h6{
  font-weight: 100 !important;
}

.first f {
top: -130px;
}
.line-3 {
width: 620px;
height: 1px;
top:1000px;
position: inherit;
background-color: rgb(173, 173, 173);
}
.offer{
  margin-top: 5%;
  margin-left: 5%;
}
.filter-wrapper {
  padding-left: 10%;
  display: flex; 
  width: 400px;
  margin-top: 5%;
  margin-left: 5%;
  /* width: 1320px; */
  height: 630px;
  /* background-color: antiquewhite; */
  background-color: #fff7ea;
}
.house-rules div{
  font-size: 16px;
  color:#4d4d4d;
  font-weight: lighter;
}
.flter-grid-container {
display: grid;
grid-column-gap: 25px;
grid-template-columns: auto;
background-color: none;
padding: 21px 34px;
}
.res{
  font-size: 18px;
  text-align: center;
  font-family:  Verdana, sans-serif;
  margin-top: 15px;
  font-weight: 600 !important;
}


.cancel div{
  font-size: 16px;
  font-weight: lighter;
}

.filter-grid-1 label{
  font-size: 14px;
}
.filter-grid-2 label{
  font-size: 14px;
}
.filter-grid-4 label{
  font-size: 14px;
}
.extra div{
  /* top: 25px; */
  font-size: 16px;
  text-align: center;
  font-family: Verdana, sans-serif;
  line-height: 1.2em;
  font-weight: 600 !important;
}
.extra ::selection {
  color: #fff;
  background: #b56953;
}
input[type="checkbox" i]{
  width: 1px;
  /* width: 100%; */
  vertical-align: top;
  margin: 0 0 10px;
  padding: 9.5px 9px;
  font-family: inherit;
  /* font-size: 17px; */
  line-height: 29px;
  font-weight: inherit;
  color: #4d4d4d;
  /* background-color: transparent; */
  border: 1px solid rgba(0,0,0,.18);
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.extra label {
  margin-left: 15px;
  font-size: 16px;
  /* line-height: 1.58824em; */
  font-weight: 300;
  color: #4d4d4d;
}
.filter-grid-5 button{
  width: 280px;
  vertical-align: top;
  /* margin: 0 0 25px; */
  padding: 9.5px 16px;
  /* font-family: inherit; */
  font-size: 16px;
  line-height: 29px;
  /* font-weight: inherit; */
  color: #000;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.18);
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  font-family: "Josefin Sans",sans-serif;
  line-height: 1.58824em;
  font-weight: 300;
  /* left: 50px; */
}
.filter-grid-5 button:hover{
    
  transition: 1s;
  box-shadow: inset 400px 0 0 0 #b56953;
}


@media only screen and (min-width: 320px) and (max-width: 426px){
.room-wrapper{
  width: 300px;
  margin-top: 5%;
  margin-left: 10%;
}
.room-grid-container{
  width: 305px;
  padding: 17px 20px;
}
.room-grid-1{
  margin-top: 3%;
  font-size: large;
}

}