.heading-rooms{
    background-color: #f7f4eb;
}
.data-room{
  margin-top: 3%;
}
.heading-rooms h2{
    padding:5% 0% 5% 5%;
    font-family: "Times New Roman";
}
.availability{
  font-size: 30px;
  font-weight: 100;
    font-family: "Times New Roman";
}
.room-grid-container label {
    margin-bottom: 5px;
    font-family: Raleway,sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
    line-height: 1.6em;
    color: #000;
  }
.room-wrapper input[type="date" i]{
  
    position: relative;
    display: inline-block;
    width: 100%;
    /* width: 100%; */
    vertical-align: top;
    margin: 0 0 30px;
    padding: 9.5px 16px;
    font-family: inherit;
    font-size: 17px;
    line-height: 29px;
    font-weight: inherit;
    color: #4d4d4d;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.18);
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .room-wrapper input[type="date" i]:hover {
    /* background: #e1e1e1; */
    border: 1px solid black;
    /* color: #faf9f5; */
  }
  .room-wrapper #cars{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;  
    margin: 0 0 30px;
    padding: 9.5px 16px;
    font-family: inherit;
    font-size: 17px;
    line-height: 29px;
    font-weight: inherit;
    color: #4d4d4d;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.18);
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .room-wrapper #cars:hover {
    /* background: #e1e1e1; */
    border: 1px solid black;
    /* color: #faf9f5; */
  }
  .room-wrapper{
    margin-top: 5%;
    margin-left: 10%;
      height: 580px;
      width: 350px;
      background-color: #faf9f5;
  }
  .room-grid-container{
    
    display: flex;
    flex-direction: column;
    width: 316px;
    padding: 17px 20px;
  }
  .room-grid-1{
    margin-top: 3%;
    font-size: x-large;
  }

.room-price {
  position: relative;
  color:#b56953;
  background-color:whitesmoke;
  width: 20%;
  height: 50px;
  font-family: 'Times New Roman';
  left: 10%;
  font-size: 24px;
  font-weight:bold;
  transform: translate(-50%, -140%);
  transition: width 1s;
}

.room-details{
  margin-bottom: 5%;
}
.room-dim{
  color: #b56953;
  font-size: 20px;
  font-family: "sans-serif";
}

.room-desc{
  color: grey;
  font-family: "sans-serif";
  font-size: 21px;
  padding: 0% 0% 0% 0%;
}

.room-name{
  font-family: "Times New Roman";
}

.data-room img{
  transition: width 1s;
}
.data-room img:hover{
width: 710px;
}
.data-room:hover{
  cursor: pointer;
}

.room-price:hover{
  width: 22%;
}
.Lodge-rooms{
  display: flex;
  flex-direction: column;
height:600px;
overflow-y:scroll;
}

.Lodge-rooms::-webkit-scrollbar {
  display: none;
}

.room-grid-5 button{
  width: 280px;
  vertical-align: top;
  /* margin: 0 0 25px; */
  padding: 9.5px 16px;
  /* font-family: inherit; */
  font-size: 17px;
  line-height: 29px;
  /* font-weight: inherit; */
  color: #000;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.18);
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  font-family: "Josefin Sans",sans-serif;
  font-size: 17px;
  line-height: 1.58824em;
  font-weight: 300;
  /* left: 50px; */
}
.room-grid-5 button:hover{
    
  transition: 1s;
  box-shadow: inset 400px 0 0 0 #b56953;
}


@media only screen and (min-width: 320px) and (max-width: 426px){
.room-wrapper{
  width: 300px;
  margin-top: 5%;
  margin-left: 10%;
}
.room-grid-container{
  width: 305px;
  padding: 17px 20px;
}
.room-grid-1{
  margin-top: 3%;
  font-size: large;
}
.row{
  background-color: gray;
  height: 100%;
  overflow-y: scroll;
}
}