
.carousel{
  height: 550px;
  background: -moz-linear-gradient(top, rgba(63, 59, 59, 0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ *//* W3C */
}


.carousel img{
  /* position:relative; */
  z-index:-1;
  /* display: block; */
}
.carousel-inner{
  height: 550px;
}
.carousel h1{
  font-size: 80px;
  margin-bottom: 3%;
  font-family: "Times New Roman";
}


.carousel button{
  margin-bottom: 13%;
  padding: 1% 4% 1% 4%;
  border:none;
  color: white;
  background-color: #b56953;
  font-size: 15px;
  word-spacing: 3px;
}
.carousel button:hover{
    cursor: pointer;
    transition: 1s;
    box-shadow: inset 400px 0 0 0 black;
}



@media only screen and (max-width: 320px){
  .carousel{
    height: 250px;
  }
  .carousel-caption h1{
    font-size: 25px;
  }
  .carousel-inner{
    height: 250px;
  }
  .carousel button{
    font-size: 10px;
    margin-bottom:2%;
  }

  .carousel img{
    height: 250px;
  }
 

}



