
.carousel {
  width:1262px;
  height:400px;
  margin-left: 0px;
}

.carousel h1{
  font-size: 80px;
  font-family: "Times New Roman";
}

.carousel button{
  margin-bottom: 23%;
  padding: 1% 4% 1% 4%;
  border:none;
  color: white;
  background-color: #b56953;
  font-size: 15px;
  word-spacing: 3px;
}
.carousel button:hover{
    cursor: pointer;
    transition: 1s;
    box-shadow: inset 400px 0 0 0 black;
}
@media only screen and (max-width: 768px){
  .carousel{
    width:700px;
  }
  .carousel h1{
    font-size: 45px;
  }
  /* .carousel button{
    margin-bottom: 25%;
  } */
  .d-block{
    height: 400px;
  }
}
@media only screen and (max-width: 480px){
.carousel{
  width:fit-content;
}
.carousel h1{
  font-size: 45px;
}
.carousel button{
  margin-bottom: 25%;
}
.d-block{
  height: 400px;
}
} 
