
.carousel{
  height: 550px;
}

.carousel h1{
  font-size: 80px;
  margin-bottom: 3%;
  font-family: "Times New Roman";
}

.carousel button{
  margin-bottom: 13%;
  padding: 1% 4% 1% 4%;
  border:none;
  color: white;
  background-color: #b56953;
  font-size: 15px;
  word-spacing: 3px;
}
.carousel button:hover{
    cursor: pointer;
    transition: 1s;
    box-shadow: inset 400px 0 0 0 black;
}


@media only screen and (max-width: 320px){
  .carousel{
    display: block;
    height: 250px;
  }
  .carousel-caption h1{
    display: block;
    font-size: 25px;
  }
  .carousel-inner{
    height: 250px;
  }
  .carousel button{
    font-size: 10px;
    margin-bottom:2%;
  }

  .carousel img{
    display: block;
    height: 250px;
  }
 

}




